<div class="container mt-4" *ngIf="perfume">
  <div class="card shadow-lg p-4 text-center">

    <img
      *ngIf="perfume.image"
      [src]="perfume.image"
      class="mx-auto mb-3"
      style="max-width: 300px; height: auto; object-fit: cover;"
    >

    <h2>{{ perfume.name }}</h2>
    <p class="text-muted">{{ perfume.brand }}</p>

    <p>{{ perfume.description }}</p>

    <p><strong>Scent:</strong> {{ perfume.scentType }}</p>
    <p><strong>Price:</strong> €{{ perfume.price }}</p>
    <p><strong>Rating:</strong> {{ perfume.rating }}/5</p>

    <hr>

    <h4>Leave a Review</h4>

    <div class="star-rating mb-2">
      <span
        *ngFor="let star of [1, 2, 3, 4, 5]"
        [class.checked]="star <= reviewRating"
        (click)="setReviewRating(star)">
        ★
      </span>
    </div>

    <textarea
      [(ngModel)]="reviewComment"
      class="form-control mb-2"
      placeholder="Write your comment">
    </textarea>

    <button class="btn btn-custom" (click)="submitReview()">
  Submit Review
</button>

    <hr>

    <h4>Reviews</h4>

    <div *ngIf="perfume.reviews?.length; else noReviews">
      <div class="card p-3 mb-2" *ngFor="let review of perfume.reviews">
        <p>
          <span
            *ngFor="let star of [1, 2, 3, 4, 5]"
            [class.checked]="star <= review.rating">
            ★
          </span>
        </p>

        <p>{{ review.comment }}</p>
      </div>
    </div>

    <ng-template #noReviews>
      <p>No reviews yet.</p>
    </ng-template>

  </div>
</div>

<div class="container mt-4 text-center" *ngIf="!perfume">
  <p *ngIf="!errorMessage">Loading perfume details...</p>
  <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>